<?xml version="1.0" encoding="UTF8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">



<!--<dubbo:reference id="notifyService" interface="witparking.notifyplatform.interfaces.INotifyService" version="1.0"-->
<!--                     registry="witparking-dubbo-registry"-->
<!--                     protocol="dubbo" timeout="60000" check="false" retries="0"/>-->

    <dubbo:reference id="demoService" interface="com.ilaotan.interfaces.IDemoService" version="1.0.0"
                     registry="witparking-dubbo-registry" protocol="dubbo" timeout="5000" check="false" retries="0"/>

</beans>
